body {
  margin: 0;
  font-family: Poppins;
  background-color: rgb(12, 12, 12);
}
h4 {
  color: white;
  font-family: Poppins;
  font-weight: 700;
}
h4:hover {
  color:#ce1c28;
  cursor: pointer;
}
p{
  color: white;
}
.about-me {
background-color:#ce1c28;
color:white;
padding-left: 30px;
padding-right: 30px;
padding-top: 12px;
padding-bottom: 12px;
font-size: 12px;
border: none;
width: 150px;
justify-content: center;
}

.about-me:hover{
  opacity: 0.5;
  cursor: pointer;
}

.head-bar {
  display: flex;
  flex-direction: row;
  height: 65px;
  margin-top: 15px;
}
.logo-container {
  width: 40px;
  margin-left: 20px;
}

.logo {
  height: 60px;
  

}

.mid-section{
  display: flex;
  flex: 1;
  min-width: 20px;
}
.main-tabs {
  min-width: 400px;
  margin-right: 40px;
  display: flex;
  justify-content: space-between;
  font-family: Gotham Medium;
  flex-shrink: 0;
  align-items: end;
}

.career-intro{
  display: flex;
  align-items: center;
  margin-left: 120px;
  margin-right: 120px;
  flex-direction: row;
  margin-top: 20px; 
  justify-content: end;
}


.pfp {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 615px;
}
.pfp-photo {
  height: 100%;
  object-fit: cover;
}
  
.info {
  max-width: 800px;
  flex:2;
  z-index: 10;
  
}
.my-title {
  max-width: 650px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 50px;
  font-weight: 700;
  font-family: Poppins;
}
.my-deets {
  margin-top: 10px;
  font-family: Poppins;
  font-weight: 200;
  font-size: 18px;
}

.name {
  margin-top: 70px;
  margin-bottom: 0;
  font-size: 28px;
  color:#ce1c28;
  font-family: Poppins;
  font-weight: 500;
}
.gray-background {
  position: absolute;
  width: 730px;
  height: 940px;
  background-color: #191919;
  margin-top: -6px;
}
.skills-sets {
  padding-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 25px;
  padding-left: 120px;
  padding-right: 120px;

}

.skill-1 {
  padding-left: 25px;
  padding-top: 30px;
  min-height: 400px;
  background-color: #303030;
  z-index: 1;
}
.skill-2 {
  padding-left: 25px;
  padding-top: 30px;
  min-height: 400px;
  background-color: #ce1c28;;
  z-index: 1;
}
.skill-3 {
  padding-left: 25px;
  padding-top: 30px;
  min-height: 400px;
  background-color: #303030;
  z-index: 5;
}
.skill-title {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 700;
}
.skill-info {
  font-family: Poppins;
  font-size: 15px;
  font-weight: 200;
}
.skill-icon {
  
}

.expe {
  height: 360px;
  margin-top: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  padding-left: 120px;
  padding-right: 120px;
}
.years-expe {
  height: 360px;
  font-family: Poppins;
  font-size: 42px;
  font-weight: 700;
  z-index: 1;
  background-color: #303030;
  text-align: center;

}

.mid-section {
  height: 360px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 20px;
  z-index: 1;
  text-align: center;
  
  
}

.right-section {
  height: 360px;
  font-family: Poppins;
  z-index: 1;
  display: grid;
  row-gap: 20px;
  text-align: center;

}
.expe-1 {
  background-color:#303030;
  font-size: 28px;
  
}
.expe-2 {
  background-color:#303030;
  font-size: 28px;
  
}
.expe-3 {
  background-color:#303030;
  font-size: 28px;
  
}
.expe-4 {
  background-color:#303030;
  font-size: 28px;
  
}
.years-xp {
  color:#ce1c28;
  font-family: Poppins;
  font-size: 90px;
  font-weight: 700;
  margin-bottom: 0;

  
}
.years-xp-bot {
  color: white;
  font-size: 20px;
  font-weight: 400;
  margin-top: 1px;
  
}
.expe1-stat {
  color:#ce1c28;
  font-size: 42px;
  margin-bottom: 0;
  font-weight: 600;
}
.expe1-bot {
  font-size: 15px;
  font-weight: 300;
  margin-top: 0;
}
.expe2-stat {
  color:#ce1c28;
  font-size: 42px;
  margin-bottom: 0;
  font-weight: 600;
}
.expe2-bot {
  font-size: 15px;
  font-weight: 300;
  margin-top: 0;
}
.expe3-stat {
  color:#ce1c28;
  font-size: 42px;
  margin-bottom: 0;
  font-weight: 600;
}
.expe3-bot {
  font-size: 15px;
  font-weight: 300;
  margin-top: 0;
}
.expe4-stat {
  color:#ce1c28;
  font-size: 42px;
  margin-bottom: 0;
  font-weight: 600;
}
.expe4-bot {
  font-size: 15px;
  font-weight: 300;
  margin-top: 0;
}
.proj-title {
  display: grid;
  grid-template-columns: 550px 1fr 250px; 
  margin-top: 80px;
  height:78px;
  margin-bottom: 40px;
}
.ft-projects {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 800;
  margin-top: 0;
  margin-bottom: 3px;
}
.ft-projects-bot{
  font-family: Poppins;
  font-size: 14px;
  font-weight: 300;
  margin-top: 0px;
}
.title-container{
  padding-left: 120px;
}
.view-all-btn{
  background-color:#ce1c28;
  color:white;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Poppins;
  font-size: 13px;
  border: none;
  
}
.view-all-btn:hover{
  opacity: 0.5;
}
.projs-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left:  120px;
  padding-right:  120px;
  column-gap:25px;
  
}
.project-preview {
  
}
.proj-thumbnail {
  height: 500px;
  background-color: #303030;
  display: flex;
  justify-content: center;
  align-items: center;
}
.proj-thumbnail img {
  width: 90%;
  
}
.project-name {
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 6px;
}
.km-link{
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #ce1c28;
  margin-top: 0;
}

.ending-state {
  display: flex;
  height: 200px;
  background-color: #303030;
  margin-left: 120px;
  margin-right: 120px;
  margin-top: 20px;
  position: relative;
  
}
.ending-txt {
  font-family: Poppins, sans-serif;
  font-size: 34px;
  font-weight: 700;
  margin-left: 50px;
  max-width: 600px;
  
}

.statement {
  margin-bottom: 18px;
}
.outro {
  font-family: Poppins, sans-serif;
  font-size: 12px;
  font-weight: 200;
  
}
.c-btn-section {
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.contact-btn {
  background-color:#ce1c28;
  color:white;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Poppins;
  font-size: 13px;
  border: none;
  position: absolute;
  right: 120px;
  
}
.contact-btn:hover {
  opacity: 0.5;
}

.foot-links {
  margin-top: 40px;
  display: flex;
  color: white;
}

.foot-links p {
  font-family: Poppins, sans-serif;
  font-size: 13px;
  font-weight: 300;
}
.foot-links p:hover{
  color: #ce1c28;
  cursor: pointer;
}
.left-foots {
  flex: 1;
}
.mid-foots {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  justify-content: space-evenly;
  min-width: 400px;

}
.right-foots {
  flex: 1;
}
.footer {
  display: flex;
  background-color:#161616;
  justify-content: space-between;
  
}
.left-foot {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.left-foot img {
  height: 60%;
}
.mid-foot {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  align-items: center;

}.mid-foot img {
  height: 48%;
}
.right-foot {
  font-family: Poppins, sans-serif;
  font-size: 12px;
  font-weight: 300;
  color:white;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
